
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <nav id="spy">
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand">
                <a href="#!/cars"><span class="fa fa-home solo">Home</span></a>
            </li>
            <li>
                <a href="#!/cars" data-scroll>
                    <span class="fa fa-anchor solo">Anchor 1</span>
                </a>
            </li>
            <li>
                <a href="#!/cars" data-scroll>
                    <span class="fa fa-anchor solo">Anchor 2</span>
                </a>
            </li>
            <li>
                <a href="#!/cars" data-scroll>
                    <span class="fa fa-anchor solo">Anchor 3</span>
                </a>
            </li>
            <li>
                <a href="#!/cars" data-scroll>
                    <span class="fa fa-anchor solo">Anchor 4</span>
                </a>
            </li>
        </ul>
    </nav>
</div>